@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 03";
}

<!--Intro-->
<h1>Josh Brown</h1>
<img style="width: 300px" src="/img/football.JPG" />
<br />

<p>
    I am hoping that I can get a good understanding of web applications in general from this class.
    I also hope to have a descent grasp on the C# language by the end of this class.
</p>
<br />

<!--Job Selections-->
<h3>Cool Jobs</h3>
<ul>
    <li>Security Officer</li>
    <li>Project Manager</li>
    <li>Database Administrator</li>
</ul>
<br />


